Source: fll-live-initramfs
Section: misc
Priority: extra
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Vcs-git: git://github.com/fullstory/fll-live-initramfs.git
Vcs-Browser: https://github.com/fullstory/fll-live-initramfs

Package: fll-live-initramfs
Architecture: all
Depends: ${misc:Depends},
 busybox,
 distro-defaults,
 initramfs-tools (>= 0.40)
Suggests: lvm2,
 nbd-client
Description: fll live media initramfs glue
 This package provides the script glue that allows initramfs-tools to
 generate an early userspace filesystem suitable for booting the live
 media of the F.U.L.L.S.T.O.R.Y project.
 .
 This is a FULLSTORY live-only package and must not be installed to an
 ordinary system.
