Source: fll-live-initramfs
Section: misc
Priority: extra
Maintainer: Kel Modderman <kel@otaku42.de>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.2
Vcs-Svn: svn://svn.berlios.de/fullstory/fll-live-initramfs/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/fll-live-initramfs/trunk/

Package: fll-live-initramfs
Architecture: all
Depends: ${misc:Depends},
 busybox (>= 1:1.9.1-2),
 distro-defaults,
 initramfs-tools (>= 0.40)
Suggests: lvm2,
 nbd-client
Description: fll live media initramfs glue
 This package provides the script glue that allows initramfs-tools to
 generate an early userspace filesystem suitable for booting the live
 media of the F.U.L.L.S.T.O.R.Y project.
 .
 This is a FULLSTORY live-only package and must not be installed to an
 ordinary system.
